<template>
<div class="row bg-dark justify-content-end m-0">
  <div class="col-9 col-sm-9">
    <ul class="nav justify-content-start">
      <li class="nav-item ml-2 m-2">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>
      </li>
      <li class="nav-item m-2">
        <router-link to="/" class="nav-link text-light">
          <i class="fab fa-youtube"></i>
        </router-link>
      </li>
      <li class="nav-item m-2">
        <router-link to="/movies" class="nav-link text-light">Movies</router-link>
      </li>
    </ul>
  </div>

  <div class="col-3 col-sm-3">
    <ul class="nav pt-2 pb-2 pr-2 justify-content-center">
      <li class="nav-item">
        <!-- <span class="">Hello, username &nbsp;</span> -->
        <div class="" v-if="authenticated">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-user mr-4"></i>
              <!-- QUIRK: mr-4 is there due to a quirk -->
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <router-link class="dropdown-item" to="#">
                <span class=""><i class="fas fa-user mr-2"></i>profile</span>
              </router-link>
              <router-link v-if="userRole != 'Customer'" class="dropdown-item" to="/control">
                <span class=""><i class="fas fa-cogs mr-2"></i>control panel</span> 
              </router-link>
              <br>
              <logout-component></logout-component>
            </div>
          </div>
        </div>
        <div v-else>
          <button  type="button" class="btn btn-light" data-toggle="modal" data-target="#loginPop">
            <span class="text-dark">Login</span>
          </button>
          <div class="modal fade" id="loginPop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <login-component></login-component>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            authenticated: '',
            userRole: ''
        };

    },
    mounted() {
      let tokenExists = (window.localStorage.getItem('token') != null);
      if(tokenExists) {
        fetch('/api/user', {
          method: "get", 
          headers: {
            'Authorization': window.localStorage.getItem('token'),
            'Accept': "application/json",
            'Content-Type': "application/json"
            }
          })
          .then(res => res.json())
          .then(res => {
            this.authenticated = res.hasOwnProperty('id') ? true : false;
          })
          .catch(err => console.log(err));
        } else {
          this.authenticated = false;
        }


        if (this.authenticated) {
            let self = this;
            auth.fetchRoleOfUser( (roleTitle) => {
                self.userRole = roleTitle;
            });
        }

        
    }

}
</script>