<template>
  <div class="wrapper p-0">
    <div class="row m-0">
      <!-- Sidebar -->
      <nav id="sidebar" class="pl-2">
        <div class="sidebar-header">
          <h3>Bootstrap Sidebar</h3>
        </div>
        <ul class="list-unstyled components">
          <p>Dummy Heading</p>
          <li class="active">
            <router-link to="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</router-link>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li><router-link to="#">Home 1</router-link></li>
              <li><router-link to="#">Home 2</router-link></li>
            </ul>
          </li>
          <li><router-link to="#">About</router-link></li>
          <li>
            <router-link to="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              Reports
            </router-link>
          </li>
          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Resources</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <router-link to="/control/movies">Movies</router-link>
              </li>
              <li><router-link to="#">Page 2</router-link></li>
            </ul>
          </li>
          <li>
            <router-link v-bind:class="{ 'text-muted': (userRole != 'Manager') }" :to="employeesLink">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              Employees
            </router-link>
          </li>
          <li><router-link to="#">Portfolio</router-link></li>
          <li><router-link to="#">Contact</router-link></li>
        </ul>
        <ul class="list-unstyled CTAs">
          <li>
            <router-link to="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</router-link>
          </li>
          <li>
            <router-link to="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</router-link>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Page Content -->
    <div id="content">
      <div class="container">
        <router-view></router-view>
      </div>
    </div>
  </div>

<!-- <div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <router-link class="nav-link" v-on:click.native="userClickedItemOnSideBar($event)" v-bind:class="{ disabled: (userRole != 'Manager') }" :to="employeesLink">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
            Employees
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" v-on:click.native="userClickedItemOnSideBar($event)" to="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
            Reports
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" v-on:click.native="userClickedItemOnSideBar($event)" to="/control/movies">
            Movies
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-md-10 ml-sm-auto col-lg-10 px-4">
    <router-view></router-view>
  </div>
</div> -->
</template>
<script>
export default {
  data() {
    return {
      userRole: '',
      employeesLink: '#'
      };
  },
  mounted() {
    let self = this;
    auth.fetchRoleOfUser( (roleTitle) => {
      self.userRole = roleTitle;
      self.employeesLink = (roleTitle != "Manager")? "#":"/control/users";
    });
  },
  methods: {
    userClickedItemOnSideBar($event) {
      $event.target.className += " active";
    } 
  }
}
</script>
