<template>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Login</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label text-md-right">Email</label>
        <div class="col-md-6">
          <input type="email" class="form-control" name="email" required autofocus v-model="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
        <div class="col-md-6">
          <input type="password" class="form-control" name="password" required v-model="password">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button @click="login" type="button" class="btn btn-primary">Login</button>
    </div>
  </div>
</div>
</template>




<script>
export default {
    data() {
        return {
            email: '',
            password: ''
        };
    },

    methods: {
        login(event) {
            let data = {
                email: this.email,
                password: this.password
            };
            // TODO: Handle error of non existing email and false password
            axios.post('/api/login', data)
                .then(({data}) => {
                    // TODO: store data
                    // data.token
                    // data.user
                    auth.login('Bearer ' + data.success.token);
                    location.reload();
                    this.$router.push('/');
                    // TODO: Create a dashboard component (will not need to click the cancel button)
                    event.target.parentElement.childNodes[0].click();  // Dismiss the popup
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        }
    },
    created() {

    },
    mounted() {

    }
}
</script>