<template>
<router-link v-on:click.native="logout" to="#" class="dropdown-item">Logout</router-link>
</template>

<script>
export default {
  data() {
    return {
      authenticated: ''
      };
  },
  methods: {
    logout() {
      let self = this;
      let config = {
        headers: { 
          'Authorization': window.localStorage.getItem('token'),
          'Accept': "application/json",
          'Content-Type': "application/json"
        }
      };
      axios.post('/api/logout', {}, config)
      .then(()=> {
        auth.forgetToken();
        self.authenticated = false;
        self.$router.push('/');
        location.reload();
      })
      .catch(({response}) => {
        alert(response.data.message);
      });
    }
  },
  created() {
    this.authenticated = auth.check();
  }, 
  mounted() {
    Event.$on('userLoggedIn', () => {
      this.authenticated = true;
    });
  },
}
</script>

