<template>
  <div>
    <h2>
      Movies
    </h2>
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAddMovieForm" aria-expanded="false" aria-controls="multiCollapseExample2">
        Add a movie
      </button>
    </p>
    <div class="row">
      <div class="col">
        <div class="collapse" id="collapseAddMovieForm">
          <div class="card card-body">
            <form @submit.prevent="addMovie" class="mb-3">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Title"
                v-model="movie.name">
                <input type="number" class="form-control" placeholder="Genre"
                v-model="movie.genreId">
                <input type="date" class="form-control" placeholder="Release Date"
                v-model="movie.releaseDate">
                <input type="number" class="form-control" placeholder="Number in stock"
                v-model="movie.numberInStock">
              </div>
              <button type="submit" class="btn btn-light btn-block">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>  <!---div.row-->

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" 
        v-bind:class="[{disabled: !pagination.prev_page_url}]">
          <a class="page-link" href="#" 
          @click="fetchMovies(pagination.prev_page_url)">
            Previous
          </a>
        </li>

        <li class="page-item disabled">
          <a href="#" class="page-link text-dark">
            Page {{ pagination.current_page }} of {{ pagination.last_page }}
          </a>
        </li>

        <li class="page-item" 
        v-bind:class="[{disabled: !pagination.next_page_url}]">
          <a class="page-link" href="#" 
          @click="fetchMovies(pagination.next_page_url)">
            Next
          </a>
        </li>        
      </ul>
    </nav>
    <div class="card card-body mb-2" v-for="movie in movies"
    v-bind:key="movie.id">
      <h3>{{ movie.name }}</h3>
      <p>{{ movie.numberInStock }}</p>
      <hr>
      <!-- <button @click="editMovie(movie)" class="btn btn-warning mb-2">edit</button> -->
      <!-- <button @click="deleteMovie(movie.id)" class="btn btn-danger">delete</button> -->
    </div>
  </div>
</template>

<script>
export default {
   data() {
    return {
      movies: [],
      movie: {
        id: "",
        name: "",
        numberInStock: "",
        releaseDate: "",
        genreId: ""
      },
      movie_id: "",
      pagination: {},
      edit: false
    };
  },
  created() {
    this.fetchMovies();
  },
  methods: {
    fetchMovies(page_url) {
      let vm = this;
      page_url = page_url || "/api/movies";
      fetch(page_url, {
        method: "get", 
        headers: {
            'Authorization': window.localStorage.getItem('token'),
            'Accept': "application/json",
            'Content-Type': "application/json"
        }
      })
        .then(res => res.json())
        .then(res => {
          this.movies = res.data;
          vm.makePagination(res.meta, res.links);
        })
        .catch(err => console.log(err));
    },
    makePagination(meta, links) {
      let pagination = {
        current_page: meta.current_page,
        last_page: meta.last_page,
        next_page_url: links.next,
        prev_page_url: links.prev
      };
      this.pagination = pagination;
    },
    addMovie() {
      if(this.edit===false) {
        fetch('api/movie', {
          method: 'post', 
          body: JSON.stringify(this.movie), 
          headers: {
            'Authorization': window.localStorage.getItem('token'),
            'Accept': 'application/json',
            'content-type': 'application/json'
          }
        })
        .then(res => res.json())
        .then(data => {
          if(!data.hasOwnProperty("data"))
          {
            // This implies that data = {"message": "unauthenticated"}
            alert('Unauthenticated');
          }
          else 
          {
            this.movie.name = '';
            this.movie.genreId = '';
            this.movie.releaseDate = '';
            this.movie.numberInStock = '';
            alert('Movie Added');
          }

          // this.fetchMovies();
        })
        .catch(err => console.log(err));
      } else {
        // Update Article
        // NB: False arguments stimulate the server to send 404 not found error !!
        fetch('api/movie', {
          method: 'put', 
          body: JSON.stringify({ 
            'movie_id': this.movie_id,
            'name': this.movie.name,
            'genreId': this.movie.genreId,
            'releaseDate': this.movie.releaseDate,
            'numberInStock': this.movie.numberInStock,
          }), 
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(res => {
          return res.json();
        })
        .then(data => {
          this.movie.name = '';
          this.movie.genreId = '';
          this.movie.releaseDate = '';
          this.movie.numberInStock = '';          
          alert('Movie Updated');
          // this.fetchMovies();
          this.edit = false;
        })
        .catch(err => console.log(err));
      }
    }
  }
}
</script>
