<template>
  <div>
    <h2>
      Movies
    </h2>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" 
        v-bind:class="[{disabled: !pagination.prev_page_url}]">
          <a class="page-link" href="#" 
          @click="fetchMovies(pagination.prev_page_url)">
            Previous
          </a>
        </li>

        <li class="page-item disabled">
          <a href="#" class="page-link text-dark">
            Page {{ pagination.current_page }} of {{ pagination.last_page }}
          </a>
        </li>

        <li class="page-item" 
        v-bind:class="[{disabled: !pagination.next_page_url}]">
          <a class="page-link" href="#" 
          @click="fetchMovies(pagination.next_page_url)">
            Next
          </a>
        </li>        
      </ul>
    </nav>
    <div class="card card-body mb-2" v-for="movie in movies"
    v-bind:key="movie.id">
      <h3>{{ movie.name }}</h3>
      <p>{{ movie.numberInStock }}</p>
      <hr>
      <!-- <button @click="editMovie(movie)" class="btn btn-warning mb-2">edit</button> -->
      <!-- <button @click="deleteMovie(movie.id)" class="btn btn-danger">delete</button> -->
    </div>
  </div>
</template>

<script>
export default {
   data() {
    return {
      movies: [],
      movie: {
        id: "",
        name: "",
        numberInStock: "",
        releaseDate: "",
        genreId: ""
      },
      movie_id: "",
      pagination: {},
      edit: false
    };
  },
  created() {
    this.fetchMovies();
  },
  methods: {
    fetchMovies(page_url) {
      let vm = this;
      page_url = page_url || "/api/movies";
      fetch(page_url, {
        method: "get", 
        headers: {
            'Authorization': window.localStorage.getItem('token'),
            'Accept': "application/json",
            'Content-Type': "application/json"
        }
      })
        .then(res => res.json())
        .then(res => {
          this.movies = res.data;
          vm.makePagination(res.meta, res.links);
        })
        .catch(err => console.log(err));
    },
    makePagination(meta, links) {
      let pagination = {
        current_page: meta.current_page,
        last_page: meta.last_page,
        next_page_url: links.next,
        prev_page_url: links.prev
      };
      this.pagination = pagination;
    }
  }
}
</script>
